.jumbotron {
    background-image: url(../images/jumbotron.PNG);
    background-size: contain;
}

#guess-box {
    font-weight: bold;
    font-size: 23px;
    color: gray;
}

.wins {
    font-weight: bold;
    font-size: 23px;
    color: gray;    
}

#game-board {
    font-size: 40px;
    color: gray;
    padding: 50px;
    margin: 40px 0px;
    }

.instructions {
    font-weight: bold;
    font-size: 25px;
    color: gray;
    margin: 5px 0px;
}

#small-text {
    font-size: 15px;
    color: gray;
}

.messages {
    font-size: 40px;
    font-weight: bold;
    color: pink;
    margin-top: 40px;
}



