.jumbotron {
    background-image: url(../images/jumbotron.PNG);
    background-size: contain;
}

#guess-box {
    font-weight: bold;
    font-size: 23px;
    color: gray;
    border: 1px solid black;

}

.wins {
    font-weight: bold;
    font-size: 23px;
    color: gray;
    border: 1px solid black;
    
}

.container {
    border: 1px solid black;
}

#game-board {
    font-size: 40px;
    color: gray;
    padding: 50px;
    margin: 40px 0px;
    border: 1px solid black;
}

.instructions {
    font-weight: bold;
    font-size: 25px;
    color: gray;
    margin: 5px 0px;
}

#small-text {
    font-size: 15px;
    color: gray;
}

.message-box {
    border: 1px solid black;
}

